
 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

아이디 <input type= text name = id id = 'id' value = '123'><br>
암호 <input type = text name = pwd id = 'pwd' value = '123'><br>
<button id = 'btnCalc'>로그인</button>


<script>
    $("#btnCalc").click(function() {
        id = $('#id').val();
        pwd = $('#pwd').val();
        alert(id + '님 로그인중!!!' );

       
        var param = {id: $('#id').val(), pwd: $('#pwd').val()};
        $.get('/ajax/login', param, function(data){
            console.log(JSON.stringify(data));
            if (data.error == 0) location.href = '/ajax' ;
            else {
                //  커서가 id를 입력할 수 있도록 이동
                $('#id').focus();
                $("#id").val('');
                $('#pwd').val('');
                alert(data.message);
            }
        });

    });
</script>



<!-- .value: text만 들어갈수있음.
.html: html tag 사용 가능 -->