<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Django Start</title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <style>
    #ordinary{width : 100;
        height : 200;
        border : 1px;
        float: left;
    } 
    #search {width : 100;
        height : 200;
        border : 1px;
        float: center;
    }  
</style> 
</head>
<body>

<div id=ordinary>
    <h1>야호!!! Django도 재밌구만!</h1>
    <h1> 원래  데이터 베이스! {{s.img}} </h1>
    user List<button id = 'add' >+</button><br>
    {% for  d in data %}

        이름{{d.name}}  age{{d.age}} <a href="listuser?userid={{d.userid}}">삭제</a> <br>

    {% endfor %}
</div>


     <!-- 별도의 url이 아닌 자기 자신 호출할 때는 안써도 됨-->
    <form action=''>
        <input type ='text' id = 'q' name = 'q'>
        <input type="submit" id = 'search' value = 'search'> 
    </form>
<div id =search>
search
</div>

<div id = layer>
    <!-- 하나의 url로 처리하기 위해서
    get방식으로 입력받고, post 방식으로 처리하기
    post 방식에는 넣어주기 -->
    <form action="listuser" method = 'POST, GET'>
        {% csrf_token %}
        <input type="submit" id = 'add' value = 'add'>
        Userid<input type="text" name = 'Userid'><br>
        Name<input type="text" name = 'Name'><br>
        Age<input type="text" name = 'Age'><br>
        Hobby<input type="text" name = 'Hobby'><br>
        <input type="submit" value = '+'>
    </form>
</div>

<script>
     $('#search').click(function() {
        var param = {q: $('#q').val()}
        $.get('/listuser', param, function(data){
            $('#search').html(data)

        });
    });


    $('#layer').hide()
    $('#add').click(function(){
        $('#layer').toggle()
    })
</script>
</body>
</html>