
 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

 <h1>생일을 입력하세요</h1>
연<input type= text name = year id = 'year' value = 2000><br>
월 <input type = text name = month id = 'month' value = 01><br>
일 <input type = text name = day id = 'day' value = 02><br>

<button id = 'btnCalc'>로그인</button>


<script>
    $("#btnCalc").click(function() {
        year = $('#year').val();
        month = $('#month').val();
        day = $('#day').val();

        alert('잠깐만요!' );


        // var param = {id: $('#id').val(), pwd: $('#pwd').val()};
        // $.get('/ajax/login', param, function(data){

        var param2 = {year: year, month: month, day: day};
        $.get('/ajax/date', param2, function(data){
            // console.log(JSON.stringify(data));
            console.log(JSON.stringify(data));
            alert(data.year + data.month)
            // alert(data.year, date.month, date.day)
            
        });

    });
</script>



